 <div class="user-details">
  <h1> More about me </h1>
  <p>   Hi I’m Dzifa Dumenyo! A senior at Vanderbilt University Majoring in Engineering Science with a concentration in product design and development. I graduate May 2024 and I’m currently seeking a job in consulting. </p>
<img src="/assets/img/IMG_2563.jpeg" alt="Dzifa Dumenyo" style="width:200px;"/>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
     <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>-->
    </div>
    <div class="tech">
      <h2>Code</h2>
     <!--
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
     -->
    </div>
    <div class="tech">
      <h2>Create</h2>
     <!--
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
        <p>Dzifa can operate a number of different computer controlled (CNC) tools to turn 3D models into real-life parts. </p>

     -->
    </div>
</div>

